/* GENERAL */

body {
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}

img {
  max-width: 100%; 
}

/* HEADER */

header {
  height: 75px;
  background-color: #09131F;
}

header img {
  width: 50px
}

/* MAIN */

main {
  background-color: #1C2D3C;
  height: calc(100vh - 75px);
  overflow-x: hidden;
  overflow-y: auto;
}

.card-rc {
  background-color: #112030;
}